button {
  background-color: #4caf50;
  width: 100%;
  color: orange;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
#contained-modal-header-vcenter {
  background-color: rgb(56, 125, 148);
}
#contained-modal-body-vcenter {
  background-color: rgb(56, 125, 148);
}
#submit {
  text-align: center;
  background-color: pink;
}
form {
  border: 3px solid #804f4f;
}

Body,
td {
  border-collapse: collapse;
  background-color: pink;
}
.container1 {
  background-color: rgba(171, 211, 26, 0.171);
}
